<!doctype html>      
<html lang="en">
<head>
  <link rel="shortcut icon" href="/favicon.ico" />
  <meta name="description" content="<%= @form.nil? ?  "" : @form.description %>" />
  <meta name='viewport' content='width=device-width' />
  <meta charset="utf-8" />
  <meta name="csrf-token" content="<%= form_authenticity_token %>" />
  <meta name="csrf-param" content="authenticity_token" />               
  <%= stylesheet_link_tag 'framework/reset','framework/general','framework/grid','generated_css/common',"generated_css/public", :cache => 'public.cache' %>
  <%= javascript_include_tag 'jquery', 'jquery-ui', 'jrails', 'rails', 'application', :cache => 'public.cache' %>      
  <%= stylesheet_link_tag "themes/theme#{@theme}" %> 
  <%= yield :headers %>                                                   
  <title>QFI Surveys <%= @form.nil? ? (@page_title||'') : @form.title %></title>
  
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
      $("input[type='text']").addClass("text_input")
    })        
  </script> 
</head>

<body>
  <div id="form_container">
    <div id='form_header'>
      <!-- <div id='form_top'>    
        <%=image_tag @form.logo unless @form.logo.blank? %>
        <% if @form.total_page > 1 %>
          <p class='paginaion'>-x-<%= @page %>-o-<%= @form.total_page %>-z-</p>
        <% end %>
        <div style='clear:both;'></div>
      </div> -->
      <!-- <div class='desc'>
        <%#=simple_format raw(@form.description) %>
      </div> -->
    </div>
    <div id='form_content'> 
      <h3 class='title'><%=h @form.title %></h3>   
    <%= yield %>     
    </div> 
    <div style="clear:both;"></div>
  </div> 
</body>
</html>
